.obs-container {
  flex: 1;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  font-family: comfortaa, 400;
}


.obs-container h1,
.obs-container h2 {

  margin-bottom: 1rem;
}

/* debug JSON box */
.obs-json-box {

  padding: 1rem;
  border-radius: 8px;

  overflow-x: auto;
}

/* inputs */
.obs-container input {

  padding: 0.5rem;
  color: #fff;
  border-radius: 6px;
  border:none;
  margin:10px;
}

/* Buttons */
.obs-container button {

  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: background 0.15s;
  margin-bottom: 0.5rem;
}

.obs-container button:hover {
background-color: var(--highlight-color);
}

/* list styling */
.obs-container ul {
  list-style: none;
  padding: 0;
}


