#notepad-page {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  flex: 1;
}

#title {
  align-self: flex-start;
  flex: 0;
  width: 100%;
}

#notepad-tab-area {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgb(84, 69, 91);

  textarea {
    width: 100%;
    font-family: inherit;
    font-size: 1.25rem;
    box-sizing: border-box;
  }
  textarea.no-input {
    caret-color: transparent;
    pointer-events: none;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#notepad-page-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.notepad-page-button {
  font-size: 1.25rem;
  background-color: gray;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.notepad-tab {
  border-radius: 0.5rem;
  color: black;
  background-color: gray;
  cursor: pointer;
}

.notepad-tab.active {
  background-color: white;
}

#overlay-link {
  font-size: 1.25rem;
  background-color: gray;
  border-radius: 0.25rem;
  padding: 0.25rem;
}