#notepad-page {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0px 0px 30px;
  flex: 1;
  height: 100vh;
}


#title {
  align-self: flex-start;
  flex: 0;
  width: 100%;
}

#notepad-tab-area {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;

  textarea {
    width: 100%;
    font-family: inherit;
    font-size: 1.25rem;
    box-sizing: border-box;
    background-color: var(--mid-color);
    color: var(--text-color-light);
    border-radius: 10px;
    padding: 20px;
    border:none;
    resize: none;
  }
  textarea::placeholder{
    color:var(--highlight-color)
  }
  textarea.no-input {
    caret-color: transparent;
    pointer-events: none;
  }
  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

#notepad-page-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
    color:var(--text-color-dark);
}

.notepad-page-button {
  font-family: inherit;
  background-color: var(--elem-color);
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  cursor: pointer;
  background-color: var(--mid-color);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  color:var(--text-color-dark);
}

.notepad-page-button:hover {
  background-color: var(--highlight-color);
  color: var(--text-color-dark);
}

.notepad-tab {
  font-family: inherit;
  border-radius: 0.5rem;
  color: black;
  background-color: var(--mid-color);
  cursor: pointer;
  color: var(--text-color-light);
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}

.notepad-tab.active {
  background-color: var(--highlight-color);
  color: var(--text-color-dark);
}

.generate-button {
  font-family: inherit;
  background-color: var(--mid-color);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  cursor: pointer;
    color:var(--text-color-dark);
}

.generate-button:hover {
  background-color: var(--highlight-color);
  color: var(--text-color-dark);
}

#overlay-link {
  font-size: 1.25rem;
  background-color: var(--mid-color);
  color: var(--text-color-light);
  border-radius: 0.8rem;
  padding: 10px 20px 10px 20px;
   border-radius: 30px;
   margin: 10px 10px 30px 10px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  width: 130px;
  background-color: var(--mid-color);
  color: var(--text-color-dark);
  text-align: center;
  padding: 5px 0;
  border-radius: 0.25rem;
  position: absolute;
  top: 65px;
  left: 500px;
  z-index: 1;
  width: 325px;
}