/* Dark background for the whole page */
.trigger-events-container {
  flex: 1;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  font-family: comfortaa, 400;
    margin: 30px 0px 0px 30px;
}

/* Section headings */


.trigger-events-container label {
  font-weight: 500;
}

.trigger-events-container input,
.trigger-events-container select {
  border-radius: 10px;
  margin: 10px;
  border: none;
  width: 250px;
  font-family: inherit;
  background-color: var(--highlight-color);
  color: var(--text-color-dark);
}
input::placeholder {
   color: rgb(167, 166, 198);
}
/* Regular buttons */
.trigger-events-container button {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.15s;
    color:var(--text-color-dark)
}
.header {
  display: flex;
  align-items: center;
  
}
.t-helpicon {
  height: 20px;
  padding-left: 15px;
}

.trigger-description {
  margin-top: 0px;
}
.trigger-events-container button:hover {
  background-color: var(--highlight-color);
}

.overlay-box {
  border-radius: 10px;
  transition: transform 0.15s, opacity 0.15s;
}

.overlay-box:hover {
  transform: scale(1.05);
  opacity: 0.85;
}

/* Change done / next button color */
button {
  background-color: var(--mid-color);
  color: black;


  
}

button:hover {
  background-color: var(--highlight-color);
  color: var(--text-color-dark);
}

/* on hover for overlay tiles */
.overlay-tile:hover {
  opacity: 0.85;
}
.overlay-tile-selected {
  box-shadow: inset 0px 0px 0px 4px rgba(85, 73, 255, 0.54);
}

/* ERROR MESSAGES */
.trigger-error {
  background: rgba(220, 53, 69, 0.12);
  border: 1px solid #8d0002;
  color:#8d0002;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  margin-bottom: 0.75rem;
  font-size: 0.9rem;
}

