/* Dark background for the whole page */
.trigger-events-container {
  flex: 1;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  font-family: comfortaa, 400;

}

/* Section headings */
.trigger-events-container h1,
.trigger-events-container h2 {

  margin-bottom: 1rem;
}


.trigger-events-container label {
  font-weight: 500;
}


.trigger-events-container input,
.trigger-events-container select {
  border:none;
  padding: 0.5rem;
  margin: 10px;
  color: #fff;
  border-radius: 6px;
}

/* Regular buttons */
.trigger-events-container button {

  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: background 0.15s;
}

.trigger-events-container button:hover {
  background-color: var(--highlight-color);
}


.overlay-box {
  border-radius: 10px;
  transition: transform 0.15s, opacity 0.15s;
}

.overlay-box:hover {
  transform: scale(1.05);
  opacity: 0.85;
}

/* Change done / next button color */
button {
  background-color: var(--mid-color);
  color: black;
  
}