/* start of hotkeystyling */

.dropdown-container {
  width: 250px;
  position: relative;
}
input {
  border-radius: 10px;
  width: 380px;
  height: 20px;
  border: none;
  padding: 10px;
  font-family: inherit;
  background-color: var(--highlight-color);
  color: var(--text-color-dark);
}
.inp::placeholder {
  color: rgb(167, 166, 198);
}

#select-box {
  border-radius: 10px;
  padding: 10px;
  border: none;
  width: 400px;
  height: 45px;
  font-family: inherit;
  background-color: var(--highlight-color);
  color: var(--text-color-dark);
}
option:hover {
  background-color: aliceblue;
}
option {
  border: none;
}
.opt {
  border-radius: 20px;
  border: none;
  font-family: comfortaa, 400;
  padding: 50px;
}
.opt:hover {
  color: inherit;
  background-color: inherit;
}
.optdiv {
  border-radius: 20px;
  border: none;
}

#triplebutt {
  display: flex;
  gap: 10px;
  padding: 20px 0px 0px 0px;
  button {
    margin: 0px;
  }
}
/* #trigbutt {
  margin-right: 250px;
} */

.butt {
  font-family: comfortaa, 400;
  background-color: var(--mid-color);
  padding: 10px 20px 10px 20px;
  color: var(--text-color-dark);
}
.butt:disabled {
  background-color: rgb(167, 166, 198);
  color: rgb(101, 99, 128);
}
.x {
  width: 10px;
  height: 10px;
}
#title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-family: lexend;
  width: 85%;

}
#form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}
#hotkey-page {
  flex: 1;
  margin: 30px 0px 0px 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* font-family: comfortaa;
  font-weight: 900; */
  /* height: 100vh; */
}

.helpicon {
  width: 20px;
  padding-top: 20px;
  margin: 20px 10px 30px 10px;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-arrow-container {
  position: absolute;
  width: 5px;
  right: 100px;
  top: 75%;
  transform: translateY(-50%);
  margin-top: -2px;
  cursor: pointer;
}

.input-arrow {
  width: 20px;
}
select {
  width: 180px;
  padding: 10px;
}
#flash {
  border-radius: 10px;
  padding: 10px;
  border: none;
  width: 400px;
  height: 45px;
  font-family: inherit;
  background-color: var(--highlight-color);
  color: var(--text-color-dark);
  box-shadow: 0px 0px 10px 3px rgb(149, 168, 241);
  transition: box-shadow 0.5s ease-in-out;
}

#hotkey-display-list {
  margin-top: 50px;
  margin-bottom: 20px;
  border-radius: 40px;
  background-color: var(--mid-color);
  color: var(--text-color-light);
  width: 70%;
  padding: 70px 50px 70px 50px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 25px;
  
  div {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
  }
  button {
    background-color: var(--elem-color);
    margin: 0;
  }
    button:hover {
    background-color: var(--highlight-color);
    margin: 0;
  }
  
}
.displaykey {
 
  font-weight: 600;
  
}
.line {
  height: 3px;
  width: 100%;
  padding: 20px 0px 0px 0px;
}
.listitem-container {
  display: flex;
  flex-direction: column;
  :hover{
    color: white;
  }
}
#hotkey-dispay-list button:hover {
  background-color: inherit;
}
.hotkeylist-action {
  background-color: var(--mid-color);
  font-family: comfortaa, 400;
  display: flex;
  justify-content: space-between;

  border-radius: 10px;
}

button {
  background-color: white;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;

  margin: 10px;
  border: 0px;
}

/* end of hotkeystyling */
