/* start of hotkeystyling */

.dropdown-container {
  width: 250px;
  position: relative;
}
input {
  border-radius: 10px;
  width: 200px;
  height: 20px;
  border: none;
  padding: 10px;
  font-family: inherit;
  background-color: var(--mid-color);
  color: var(--text-color-light);
}
input::placeholder {
  color: var(--highlight--text-color);
}
#select-box {
  border-radius: 10px;
  padding: 10px;
  border: none;
  width: 220px;
  height: 45px;
  font-family: inherit;
  background-color: var(--mid-color);
  color: var(--text-color-light);
}
option:hover{
  background-color: aliceblue;
}
option {
    border: none;
}
.opt {
  border-radius: 20px;
  border: none;
  font-family: comfortaa, 400;
}
.optdiv {
  border-radius: 20px;
  border: none;
}
.butt {
  font-family: comfortaa, 400;
  background-color: var(--mid-color);
  padding: 10px 20px 10px 20px;
}
#title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-family: lexend;
}

#hotkey-page {
  flex: 1;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  font-family: comfortaa, 400;
}

.helpicon {
  width: 20px;
  padding-top: 20px;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-arrow-container {
  position: absolute;
  width: 5px;
  right: 100px;
  top: 75%;
  transform: translateY(-50%);
  margin-top: -2px;
  cursor: pointer;
}

.input-arrow {
  width: 20px;
}
select {
  width: 180px;
  padding: 10px;
}

#hotkey-display-list {
  margin-top: 70px;
  border-radius: 10px;
  background-color: var(--mid-color);
  color: var(--text-color-light);
  width: 100%;
  padding: 20px 10px 20px 10px;
  button {
    background-color: var(--elem-color);
  }
}
#hotkey-dispay-list button:hover {
  background-color: inherit;
}
.hotkeylist-action {
  background-color: var(--mid-color);
  font-family: comfortaa, 400;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
}

button {
  background-color: white;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;

  margin: 10px;
  border: 0px;
}

/* end of hotkeystyling */
