:root {
  --text-color-dark: rgb(38, 65, 139);
  --text-color-light: #ffffff;
  --elem-color: rgb(38, 65, 139);
  --highlight-color: #dbcaffff;
  --hightlight-text-color: rgb(38, 65, 139);
  --transparent: rgba(0, 0, 0, 0);
  --mid-color: rgb(81, 110, 189);
}
