:root {
  --text-color-dark: rgb(38, 65, 139);
  --text-color-light: rgb(38, 65, 139);
  --elem-color: rgb(208, 220, 255);
  --highlight-color: rgb(251, 251, 251);
  --hightlight-text-color: rgb(107, 133, 211);
  --transparent: rgba(0, 0, 0, 0);
  --mid-color: rgb(176, 194, 243);
}
