:root {
  --text-color-dark: #497bd4ff;
  --text-color-light: #ffffff;
  --elem-color: #497bd4ff;
  --highlight-color: #dbcaffff;
  --hightlight-text-color: #497bd4ff;
  --transparent: rgba(0, 0, 0, 0);
}