#app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  
  width: 70%;
  font-family: lexend;
  color: var(--text-color-dark);
}
#logo {
  width: 200px;
  padding: 10px 10px 10px 30px;
}
#navbar {
  height: 100%;
  background: var(--mid-color);
  color: var(--text-color-dark);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
  width: 250px;

  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    list-style: none;
    color: var(--text-color-light);
    font-weight: 600;
    text-decoration: none;
    padding: 10px 10px 10px 70px;
  }
  li:hover {
    color: var(--text-color-light);
    background: linear-gradient(
      106deg,
      rgba(209, 224, 255, 1) 43%,
      rgba(220, 239, 242, 1) 100%
    );
  }
}
Link {
  text-decoration: none;
}
a {
  text-decoration: none;
}

#main-page {
  display: flex;
  flex: 1;
  width: 100%;
}

.sidebar-button {
  font-size: 1.25rem;
  padding: 0.5rem;
}

button {
  font-family: var(--mid-color);
  color: var(--text-color-light);
  padding: 10px 20px 10px 20px;
}
button:hover {
  background-color: var(--highlight-color);
  color: var(--text-color-dark);
}
input {
  border: none;
}
