#app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;

width: 70%;
 font-family: lexend;
  color: var(--text-color-dark);
}

#navbar {
  height: 100vh;
  background: var(--mid-color);
  color: var(--text-color-dark);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;

  ul {
    padding: 0;
    list-style-type: none;
    width: 200px;
  }
  li {
    list-style: none;
    color: var(--text-color-light);
    font-weight: 600;
    text-decoration: none;
    padding: 10px 10px 10px 50px;
  }
  li:hover {
    background-color: var(--elem-color);
    color: var(--text-color-light);
  }
}
Link {
  text-decoration: none;
}
a {
  text-decoration: none;
}

#main-page {
  display: flex;
  flex: 1;
  width: 100%;
}

.sidebar-button {
  font-size: 1.25rem;
  padding: 0.5rem;
}

button {
  font-family: var(--mid-color);
  color: var(--text-color-light);
  padding: 10px 20px 10px 20px;
}
button:hover {
  background-color: var(--highlight-color);
  color: var(--text-color-dark);
}
input {
  border: none;
}
