:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--elem-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background-image: url(./assets/waves.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;

}
